<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ผลฉลากกินแบ่ง Add lotta</title>
</head>
<body>
    <h1><a href='http://localhost:5000/'>Lotta XD</a></h1>
    <% if(typeof mesg != "undefined") { %>   
    <h2><%= mesg %></h2>
    <% } %>
    <form action="/addlotta" method="post">
        <div>
            <label>date</label>
            <input type="date" name="date" id="date">
        </div>
        <div>
            <label>type</label>
            <input type="text" name="type" id="type">
        </div>
        <div>
            <label>id</label>
            <input type="text" name="id" id="id">
        </div>
        <div>
            <label>num</label>
            <input type="text" name="num" id="num">
        </div>
        <div>
            <label>reward</label>
            <input type="text" name="reward" id="reward">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>