<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ผลฉลากกินแบ่ง lotta</title>
</head>
<body>
    <h1><a href='http://localhost:5000/'>Lotta XD</a></h1>
    <a href='/addlotta'>เพิ่มเลขรางวัล</a>
    <a href='/showbyid'>เช็คเลขรางวัล</a>
    <a href='/credits'>เครดิต</a>
    <table>
        <tr>
            <th>งวดวันที่</th>
            <th>หมวด</th>
            <th>เลข</th>
            <th>รางวัล</th>
        </tr>
        <% lotta.forEach(function(lotta) { %>
        <tr>
            <td><%= lotta.date %></td>
            <td><%= lotta.type %></td>
            <td><%= lotta.id %></td>
            <td><%= lotta.reward %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>